::ng-deep .p-datatable .p-datatable-header {
  background: #286e33;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  color: white;
  background-color: #286e33;
}

::ng-deep .p-column-filter-menu-button, .p-column-filter-clear-button {

  color: white;
}

::ng-deep
.p-button.p-button-outlined {
  background-color: white;
  color: #286e33;
  border: 1px solid;
}

::ng-deep .p-button.p-button-outlined:enabled:hover {
  color: white;
}
