<div class="grid">
  <div class="col-12">
    <div class="card">

      <div class="grid mt-4 mb-3 upper-container flex justify-content-between align-items-center">
        <div class="col-12 md:col-3 title">
          <h2>Question List</h2>
        </div>
        <div class="col-12 md:col-offset-5 md:col-4 buttons flex justify-content-end">
          <app-button type="button" label="Back" class="mr-2" classBtn="p-button-secondary" link="/dashboard">
          </app-button>
          <app-button type="button" backgroundColor="var(--PRIMARY)" iconBtn="pi pi-fw pi-plus" label="Add New Question"
            classBtn="p-button-primary" link="/questions/new"></app-button>
          <app-button (click)="updateClick()" typeBtn="button" label="Update" iconBtn="pi pi-pencil"
            classBtn="p-button-secondary ml-2"></app-button>
        </div>

        <div class="card col-12">
          <p-table [value]="questions" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]" selectionMode="single">

            <ng-template pTemplate="header">
              <tr>
                <th>
                  No
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Question Detail
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-q let-i="rowIndex">
              <tr routerLink="/questions/detail/{{q.id}}" class="cursor-pointer">
                <td>{{ i+1 }}</td>
                <td>{{q.questionDetail}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Update Question" [(visible)]="updateForm" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [maximizable]="true" [modal]="true" [draggable]="false" [resizable]="false">

    <form [formGroup]="questionUpdateReqDto" (ngSubmit)="updateSubmit()">

      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <label for="question">Question</label>
          <p-dropdown [showClear]="true" #question (onChange)="chooseQuestion(question.value)" id="question"
            appendTo="body" [options]="questions" optionValue="id" placeholder="Choose Question"
            optionLabel="questionDetail"></p-dropdown>
        </div>

        <div class="field col-12">
          <label htmlFor="detail">Detail</label>
          <textarea id="detail" formControlName="questionDetail" rows="2" pInputTextarea></textarea>
        </div>
      </div>

      <!-- <div class=" p-fluid p-formgrid grid"> -->
      <div class="option" formArrayName="options" *ngFor="let op of optionForm.controls; let i = index">
        <div [formGroupName]="i">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-9">
              <label for="optionLabel">Option Label {{ i + 1}} <span class="text-red-500">*</span></label>
              <textarea id="label" formControlName="optionLabel" rows="1" pInputTextarea></textarea>
            </div>
            <div class="field col-12 md:col-3">
              <label for="optionLabel">Is Correct <span class="text-red-500">*</span></label>
              <p-dropdown formControlName="isCorrect" [options]="isCorrects" optionLabel="key" optionValue="name">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <app-button type="submit" backgroundColor="var(--PRIMARY)" label="Update" class="mr-2"></app-button>
    </form>
  </p-dialog>
</div>
