<div class="grid">
  <div class="col-12">
    <div class="card">

      <div class="grid mb-3 upper-container flex justify-content-between align-items-center">
        <div class="col-12 md:col-9 title">
          <h2>Company List</h2>
        </div>
        <div class="col-12 md:col-3 buttons flex md:justify-content-end justify-content-between">
          <app-button type="button" label="Back" class="mr-2" classBtn="p-button-secondary"
            link="/dashboard"></app-button>
          <app-button backgroundColor="var(--PRIMARY)" type="button" iconBtn="pi pi-fw pi-plus" label="Add New Company"
            classBtn="p-button-primary" link="/companies/new"></app-button>
        </div>

        <div class="card col-12">
          <p-table
          [value]="companies"
          [paginator]="true"
          [rows]="5"
          selectionMode="single"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
      >
            <ng-template pTemplate="header">
              <tr>
                <th>
                  No
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Code
                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Name
                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Address

                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Company Url

                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Phone Number

                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">No companies found.</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-c let-i="rowIndex">
              <tr class="cursor-pointer" routerLink="detail/{{ c.id }}">
                <td>{{i+1}}</td>
                <td>{{c.companyCode}}</td>
                <td>{{c.companyName}}</td>
                <td>{{c.address}}</td>
                <td>{{c.companyUrl}}</td>
                <td>{{c.companyPhone}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>



    </div>
  </div>
</div>
