<div class="flex justify-content-center align-content-center">
  <p-card class="col-12 md:col-6 container mt-5 mb-5" header="Change Password">

    <form [formGroup]="changePasswordDto" (ngSubmit)="update()" class="mt-2">

      <div class="grid align-items-center gy-md-3">
        <div class="col-12 md:col-3">
          <label for="oldpassword" class="form-label">Old password<span class="text-red-500">*</span></label>
        </div>
        <div class="col-12 md:col-9">

          <p-password [feedback]="false" id="oldpassword" inputStyleClass="w-full" styleClass="w-full"
            formControlName="oldPassword" required="true" [toggleMask]="true"></p-password>
        </div>

        <div class="col-12 md:col-3">
          <label for="newpassword" class="form-label">New password<span class="text-red-500">*</span></label>
        </div>
        <div class="col-12 md:col-9">
          <p-password id="newpassword" formControlName="newPassword" [feedback]="false" [toggleMask]="true"
            required="true" inputStyleClass="w-full" styleClass="w-full"></p-password>
        </div>

        <div class="col-12 md:col-3">
          <label for="confirm-password" class="form-label">Confirm password<span class="text-red-500">*</span></label>
        </div>
        <div class="col-12 md:col-9">
          <p-password id="confirm-password" inputStyleClass="w-full" styleClass="w-full"
            formControlName="confirmPassword" [feedback]="false" [toggleMask]="true" required="true"></p-password>
        </div>


        <div class="col-12 md:col-9 mt-3">
          <app-button type="submit" backgroundColor="var(--PRIMARY)" label="Change" iconBtn="pi pi-save" class="mr-3">
          </app-button>
          <app-button link="/dashboard" label="Back" classBtn="p-button-secondary" class=""></app-button>
        </div>
      </div>
    </form>
  </p-card>
</div>
