<div class=" flex align-items-center justify-content-center vh-100 overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius:56px; padding:0.3rem;">
      <div class="w-full surface-0 py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
        <img src="../../../assets/jobroad.png" alt="Jobroad logo" class="w-20rem flex-shrink-0">
        <span class="text-surface-500 font-bold text-3xl">404</span>
        <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
        <div class="text-600 mb-5">Requested page is not available.</div>
        <app-button label="Go Back to Dashboard" backgroundColor="var(--PRIMARY)" link="/dashboard"></app-button>
      </div>
    </div>
  </div>
</div>
