<div class=" px-4 py-1 md:px-6 lg:px-8">
  <div class="grid">
    <div class="surface-section px-4 pt-8 pb-2 md:px-6 lg:px-8 mt-1">
      <div class="text-700 text-center">
        <div class="text-green-700 font-bold mb-3">WELCOME TO JOBROAD, {{ salutation }} {{ fullName}}</div>
        <div class="text-900 font-bold text-5xl mb-3">Manage JobRoad's Data</div>
        <div class="text-700 text-2xl mb-5">By logging in into this website, you can manage flow of transaction within
          JobRoad based on your given responsibilities.</div>
      </div>
    </div>
    <h2 class="col-12 flex justify-content-center align-content-center">Current Data</h2>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Users</span>
            <div class="text-900 font-medium text-xl">{{ userSize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-users text-blue-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Candidates</span>
            <div class="text-900 font-medium text-xl">{{ candidateSize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-user text-orange-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Jobs</span>
            <div class="text-900 font-medium text-xl">{{ jobSize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-briefcase text-cyan-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Companies</span>
            <div class="text-900 font-medium text-xl">{{ companySize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-green-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-id-card text-green-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Benefits</span>
            <div class="text-900 font-medium text-xl">{{ benefitSize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-money-bill text-purple-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 mb-5">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Questions</span>
            <div class="text-900 font-medium text-xl">{{ questionSize }}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-red-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-question text-red-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
