<div class="col-12">
  <p-card header="Update Job">
    <form [formGroup]="jobUpdateReqDto" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="name">Job Name <span class="text-red-500">*</span> </label>
          <input pInputText id="name" required type="text" formControlName="jobName" />
          <span class="text-red-500 ml-2" *ngIf="
            jobUpdateReqDto.get('jobName')!.invalid &&
            !jobUpdateReqDto.get('jobName')!.value &&
            (jobUpdateReqDto.get('jobName')!.dirty ||
              jobUpdateReqDto.get('jobName')!.touched)
          ">Input can't be empty</span>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="company">Company<span class="text-red-500">*</span></label>
          <p-dropdown optionLabel="companyName" [options]="company" optionValue="id" formControlName="companyId"
            placeholder="Choose Company" [showClear]="true" [required]="true"></p-dropdown>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('companyId')!.invalid &&
              !jobUpdateReqDto.get('companyId')!.value &&
              (jobUpdateReqDto.get('companyId')!.dirty ||
                jobUpdateReqDto.get('companyId')!.touched)
            ">Must be Selected</span>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="start">Start Date<span class="text-red-500">*</span></label>
          <p-calendar inputId="start" [required]="true" formControlName="startDateTemp" [showIcon]="true"
            dateFormat="dd/mm/yy" inputStyleClass="w-full" styleClass="w-full"></p-calendar>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('startDate')!.invalid &&
              !jobUpdateReqDto.get('startDate')!.value &&
              (jobUpdateReqDto.get('startDate')!.dirty ||
                jobUpdateReqDto.get('startDate')!.touched)
            ">Input can't be empty</span>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="end">End Date<span class="text-red-500">*</span></label>
          <p-calendar inputId="end" [required]="true" formControlName="endDateTemp" [showIcon]="true"
            dateFormat="dd/mm/yy" inputStyleClass="w-full" styleClass="w-full"></p-calendar>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('endDate')!.invalid &&
              !jobUpdateReqDto.get('endDate')!.value &&
              (jobUpdateReqDto.get('endDate')!.dirty ||
                jobUpdateReqDto.get('endDate')!.touched)
            ">Input can't be empty</span>
        </div>
        <div class="field col-12">
          <label htmlFor="desc">Description<span class="text-red-500">*</span></label>
          <textarea pInputTextarea id="desc" required rows="4" cols="50" formControlName="description"></textarea>
          <span class="text-red-500 ml-2" *ngIf="
            jobUpdateReqDto.get('description')!.invalid &&
            !jobUpdateReqDto.get('description')!.value &&
            (jobUpdateReqDto.get('description')!.dirty ||
              jobUpdateReqDto.get('description')!.touched)
          ">Input can't be empty</span>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="min">Minimal Salary<span class="text-red-500">*</span></label>
          <p-inputNumber inputId="min" mode="currency" currency="IDR" locale="id-ID" formControlName="expectedSalaryMin"
            placeholder="Rp 0,00"></p-inputNumber>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('expectedSalaryMin')!.invalid &&
              !jobUpdateReqDto.get('expectedSalaryMin')!.value &&
              (jobUpdateReqDto.get('expectedSalaryMin')!.dirty ||
                jobUpdateReqDto.get('expectedSalaryMin')!.touched)
            ">Input can't be empty</span>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="max">Maximal Salary<span class="text-red-500">*</span></label>
          <p-inputNumber inputId="max" mode="currency" currency="IDR" locale="id-ID" formControlName="expectedSalaryMax"
            placeholder="Rp 0,00"></p-inputNumber>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('expectedSalaryMax')!.invalid &&
              !jobUpdateReqDto.get('expectedSalaryMax')!.value &&
              (jobUpdateReqDto.get('expectedSalaryMax')!.dirty ||
                jobUpdateReqDto.get('expectedSalaryMax')!.touched)
            ">Input can't be empty</span>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="hr">HR Person in Contact<span class="text-red-500">*</span></label>
          <p-dropdown optionLabel="fullName" [options]="hr" optionValue="id" [showClear]="true" placeholder="Choose HR"
            [required]="true" formControlName="hrId"></p-dropdown>
          <span class="text-red-500 ml-2" *ngIf="
            jobUpdateReqDto.get('hrId')!.invalid &&
            !jobUpdateReqDto.get('hrId')!.value &&
            (jobUpdateReqDto.get('hrId')!.dirty ||
              jobUpdateReqDto.get('hrId')!.touched)
          ">Must be selected</span>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="pic">PIC Person in Contact<span class="text-red-500">*</span></label>
          <p-dropdown optionLabel="fullName" [options]="pic" optionValue="id" [showClear]="true"
            placeholder="Choose Pic" [required]="true" formControlName="picId"></p-dropdown>
          <span class="text-red-500 ml-2" *ngIf="
            jobUpdateReqDto.get('picId')!.invalid &&
            !jobUpdateReqDto.get('picId')!.value &&
            (jobUpdateReqDto.get('picId')!.dirty ||
              jobUpdateReqDto.get('picId')!.touched)
          ">Must be selected</span>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="type">Employment Type<span class="text-red-500">*</span></label>
          <p-dropdown optionLabel="employmentTypeName" [options]="employmentTypes" optionValue="id" [showClear]="true"
            placeholder="Choose Employment Type" [required]="true" formControlName="employmentTypeId"></p-dropdown>
          <span class="text-red-500 ml-2" *ngIf="
              jobUpdateReqDto.get('employmentTypeId')!.invalid &&
              !jobUpdateReqDto.get('employmentTypeId')!.value &&
              (jobUpdateReqDto.get('employmentTypeId')!.dirty ||
                jobUpdateReqDto.get('employmentTypeId')!.touched)
            ">Must be selected</span>
        </div>
        <div class="col-12 ">
          <label for="picture" class="form-label">Job Picture</label>
        </div>
        <div class="col-12 ">
          <div class="mb-3">
            <p-fileUpload mode="basic" chooseLabel="Upload" styleClass="bg-green-700" chooseIcon="pi pi-upload"
              class="form-control" #file type="file" id="picture" (onSelect)="fileUpload($event,file)" required>
            </p-fileUpload>
            <span class="text-red-500 ml-2" *ngIf="
                jobUpdateReqDto.get('file')!.invalid &&
                !jobUpdateReqDto.get('file')!.value &&
                (jobUpdateReqDto.get('file')!.dirty ||
                  jobUpdateReqDto.get('file')!.touched)
              ">Must upload a picture</span>
          </div>
        </div>
        <div class="col-6 gap-3 ">
          <h4>Benefit</h4>
          <app-button typeBtn="button" (click)="addBenefit()" iconBtn="pi pi-plus-circle"
            backgroundColor="var(--PRIMARY)" label="Add Benefits"></app-button>
          <div class="col-12 mt-2" *ngFor="let b of benefitsId.controls; let i = index" formArrayName="benefits">
            <div class="grid align-items-center" [formGroupName]="i">
              <div class="col-8">
                <p-dropdown [options]="benefits" optionValue="id" placeholder="Choose Benefits"
                  optionLabel="benefitName" formControlName="benefitId"></p-dropdown>

              </div>
              <div class="col-4">
                <app-button iconBtn="pi pi-minus-circle" label="Delete Option" classBtn="p-button-danger"
                  (clickChange)="removeBenefit(i)"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 gap-3">
          <h4>Question</h4>
          <app-button typeBtn="button" (click)="addQuestion()" iconBtn="pi pi-plus-circle"
            backgroundColor="var(--PRIMARY)" label="Add Question"></app-button>
          <div class="col-12 mt-2" *ngFor="let q of questionsId.controls; let j = index" formArrayName="questions">
            <div class="grid align-items-center" [formGroupName]="j">
              <div class="col-8">
                <p-dropdown [options]="questions" optionValue="id" optionLabel="questionDetail"
                  formControlName="questionId"></p-dropdown>
              </div>
              <div class="col-4">
                <app-button iconBtn="pi pi-minus-circle" label="Delete Option" classBtn="p-button-danger"
                  (clickChange)="removeQuestion(j)"></app-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-9 mb-5 mt-6 flex justify-content-start">
          <app-button backgroundColor="var(--PRIMARY)" [loading]="loading" typeBtn="submit" label="Save"
            iconBtn="pi pi-save" class=" mr-2" (clickChange)="checkForm(jobUpdateReqDto)"></app-button>
          <app-button link="/jobs" label="Cancel" classBtn="p-button-secondary"></app-button>
        </div>
      </div>

    </form>
  </p-card>
</div>
