<div class="col-12">
  <div class="flex justify-content-between flex-wrap card-container mb-3">
    <div class="flex align-items-center justify-content-center">
      <app-button type="button" label="Back" class="mr-2" classBtn="p-button-secondary" link="/candidates"></app-button>
    </div>
    <div class="flex align-items-center justify-content-center">
      <app-button backgroundColor="var(--PRIMARY)" type="button" label="Assign Job" classBtn="p-button-primary mr-2"
        (click)="showAssignJob()" [hidden]="disabledAssign"></app-button>
      <app-button backgroundColor="var(--PRIMARY)" type="button" label="Update Candidate" classBtn="p-button-primary"
        link="/candidates/{{ candidateUser?.id }}/update" [hidden]="disabled"></app-button>
    </div>
  </div>
  <p-card header="Candidate Detail">
    <div class="grid">
      <div class="col-12 md:col-2">
        <p-image [src]="imageUrl" alt="Image" width="100%" height="250px"></p-image>
      </div>
      <div class="col-12 md:col-5">
        <div class="grid">
          <div class="col-4">Full Name</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.salutation }} {{ candidateUser?.fullname }}</div>
          <div class="col-4">Email</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.userEmail }}</div>
          <div class="col-4">Gender</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.gender }}</div>
          <div class="col-4">Birth</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.birthPlace }}, {{ candidateUser?.birthDate }}</div>
          <div class="col-4">Marital Status</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.maritalStatus }}</div>
          <div class="col-4">Religion</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.religion }}</div>
          <div class="col-4">Status</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.candidateStatus }}</div>
        </div>
      </div>

      <div class="col-12 md:col-5">
        <div class="grid">
          <div class="col-4">NIK</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.nik }}</div>
          <div class="col-4">Phone Number</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.phoneNumber }}</div>
          <div class="col-4">Mobile Number</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.mobileNumber }}</div>
          <div class="col-4">Experiences</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.experience }} years</div>
          <div class="col-4">Expected Salary</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.expectedSalary }}</div>
          <div class="col-4">Person Type</div>
          <div class="col-1">:</div>
          <div class="col-7">{{ candidateUser?.personType }}</div>

        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center">
            <h3 class="col-12">Addresses</h3>
          </div>
        </div>
        <hr>
        <div class="card">
          <p-dataView #dv [value]="candidateAddresses">
            <ng-template let-address pTemplate="listItem" let-i="rowIndex">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start">
                      <div class="text-2xl font-bold text-900">{{ address.residenceType }}
                      </div>
                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">{{ address.address }} {{
                                                        address.city }}, {{
                                                        address.province }}, {{ address.country }} {{
                                                        address.postalCode }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-l font-semibold"></span>

                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center">
            <h3 class="col-12">Educations</h3>
          </div>
        </div>
        <hr>
        <div class="card">
          <p-dataView #dv [value]="candidateEducations">
            <ng-template let-education pTemplate="listItem" let-i="rowIndex">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <div class="text-2xl font-bold text-900">{{ education.instituitionName
                                                }}</div>
                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">{{ education.degreeName }} | {{
                                                        education.majors }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-l font-semibold">{{ education.startYear }} - {{
                                                education.endYear }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center">
            <h3 class="col-12">Working Experiences</h3>
          </div>
        </div>
        <hr>
        <div class="card">
          <p-dataView #dv [value]="candidateWorks">
            <ng-template let-working pTemplate="listItem" let-i="rowIndex">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start">
                      <div class="text-2xl font-bold text-900">{{ working.positionName }}
                      </div>
                      <div class="flex align-items-center">
                        <span class="flex align-items-center">
                          <span class="font-semibold">{{ working.companyName }}</span>
                        </span>
                      </div>

                      <div class="mt-3"><strong>Responsibility:</strong> {{
                                                working.responsibility }}</div>
                      <div class="mt-1"><strong>Last Salary:</strong> {{ working.lastSalary }}
                      </div>
                      <div class="mt-1"><strong>Reasons Leave:</strong> {{ working.reasonLeave
                                                }}</div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-l font-semibold">{{ working.startDate }} - {{
                                                working.endDate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center">
            <h3 class="col-12">Training Experiences</h3>
          </div>
        </div>
        <hr>
        <div class="card">
          <p-dataView #dv [value]="candidateTrainings">
            <ng-template let-training pTemplate="listItem" let-i="rowIndex">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <div class="text-2xl font-bold text-900">{{ training.trainingName }}
                      </div>
                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">{{ training.organizationName
                                                        }}</span>
                        </span>
                      </div>
                      <div>{{ training.description }}</div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-l font-semibold">{{ training.startDate }} - {{
                                                training.endDate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center">
            <h3 class="col-12">Project Experiences</h3>
          </div>
        </div>
        <hr>
        <div class="card">
          <p-dataView #dv [value]="candidateProjects">
            <ng-template let-training pTemplate="listItem" let-i="rowIndex">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <div class="text-2xl font-bold text-900">{{ training.projectName }}
                      </div>
                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold"><a href="http://github.com" target="_blank">{{
                                                            training.projectUrl }}</a></span>
                        </span>
                      </div>
                      <div>{{ training.description }}</div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-l font-semibold">{{ training.startDate }} - {{
                                                training.endDate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="row align-items-center">
          <div class="grid">
            <div class="col-12 md:col-6">
              <div class="flex justify-content-between flex-wrap card-container purple-container">
                <div class="flex align-items-center justify-content-center">
                  <h3 class="col-12">Skills</h3>
                </div>
              </div>
              <hr>
              <div class="card">
                <p-dataView #dv [value]="candidateSkills">
                  <ng-template let-skill pTemplate="listItem" let-i="rowIndex">
                    <div class="col-12">
                      <div class="flex flex-column xl:flex-row xl:align-items-start pl-4 gap-4">
                        <div
                          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="flex align-items-center gap-3 mt-3">
                              <span class="flex align-items-center gap-2 mb-3">
                                <span class="font-semibold">{{ skill.skillName
                                                                    }}</span>
                              </span>
                            </div>
                          </div>
                          <div class="flex sm:flex-column align-items-center sm:align-items-end">
                            <span class="text-l font-semibold"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-dataView>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between flex-wrap card-container purple-container">
                <div class="flex align-items-center justify-content-center">
                  <h3 class="col-12">Languages</h3>
                </div>
              </div>
              <hr>
              <div class="card">
                <p-dataView #dv [value]="candidateLanguages">
                  <ng-template let-language pTemplate="listItem" let-i="rowIndex">
                    <div class="col-12">
                      <div class="flex flex-column xl:flex-row xl:align-items-start pl-4 gap-4">
                        <div
                          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="flex align-items-center gap-3 mt-3">
                              <span class="flex align-items-center gap-2">
                                <span class="font-semibold">{{ language.languageName
                                                                    }}</span>
                              </span>
                            </div>
                            <div class="flex align-items-center gap-3 mb-2">
                              <span class="flex align-items-center gap-2">
                                <span>Writing : {{ language.writingRate }}/5</span>
                                <span>Speaking : {{ language.speakingRate
                                                                    }}/5</span>
                                <span>Listening : {{ language.listeningRate
                                                                    }}/5</span>
                              </span>
                            </div>
                          </div>
                          <div class="flex sm:flex-column align-items-center sm:align-items-end">
                            <span class="text-l font-semibold"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-dataView>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="row align-items-center">
          <div class="grid">
            <div class="col-12 md:col-12">
              <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-center justify-content-center">
                  <h3 class="col-12">Family Member</h3>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-12 md:col-12">
              <p-table [value]="candidateFamilies" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>No.</th>
                    <th>Full Name</th>
                    <th>Relationship</th>
                    <th>Degree</th>
                    <th>Occupation</th>
                    <th>Birth</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-family let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ family.fullname }}</td>
                    <td>{{ family.relationship }}</td>
                    <td>{{ family.degreeName }}</td>
                    <td>{{ family.occupation }}</td>
                    <td>{{ family.birthPlace }}, {{ family.birthDate }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="row align-items-center">
          <div class="grid">
            <div class="col-12 md:col-12">
              <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-center justify-content-center">
                  <h3 class="col-12">References</h3>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-12 md:col-12">
              <p-table [value]="candidateReferences" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>Occupation</th>
                    <th>Phone</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>Email</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reference let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ reference.fullname }}</td>
                    <td>{{ reference.relationship }}</td>
                    <td>{{ reference.occupation }}</td>
                    <td>{{ reference.phoneNumber }}</td>
                    <td>{{ reference.company }}</td>
                    <td>{{ reference.description }}</td>
                    <td>{{ reference.email }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-8 md:col-offset-2">
        <div class="row align-items-center">
          <div class="grid">
            <div class="col-12 md:col-12">
              <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-center justify-content-center">
                  <h3 class="col-12">Documents</h3>
                </div>
              </div>
              <hr>

            </div>
            <div class="col-12 md:col-12">
              <p-table [value]="candidateDocuments">
                <ng-template pTemplate="header">
                  <tr>
                    <th>No.</th>
                    <th>Document Name</th>
                    <th>Document Type</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ document.docName }}.{{ document.fileExtension}}</td>
                    <td>{{ document.fileTypeName }}</td>
                    <td>
                      <a [href]="document.fileId | url">Download</a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>

<!-- Dialog Assign Job -->
<p-dialog header="Assign Job to Candidate" [modal]="true" [(visible)]="dialogAssignJob"
  [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '36vw' }" [draggable]="false" [resizable]="false">
  <form [formGroup]="employeeInsertReqDto" (ngSubmit)="addEmployee()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <label for="skillname">Job <span class="text-red-500"> *</span> </label>
        <p-dropdown inputId="residence" [options]="jobs" optionLabel="jobName" optionValue="id" [showClear]="true"
          [required]="true" formControlName="jobId" placeholder="Choose Job"></p-dropdown>
      </div>
      <div class="field flex justify-content-end col-12">
        <app-button backgroundColor="var(--PRIMARY)" [loading]="loading" typeBtn="submit" label="Submit" class=" mr-2">
        </app-button>
      </div>
    </div>
  </form>
</p-dialog>
